.previews img {
    width: 150px;
}

.size-stock-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.size-stock-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.size-stock-field input {
    width: 100%;
    margin: 5px 0;
}

