.add {
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}

.viewed-section {
    margin: 2rem auto;
    padding: 1rem;
}   

.viewed-section h3{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.most-viewed {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.most-viewed-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 10px;
    width: 300px;
}

.most-viewed-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

li {
    list-style: none;
}

.delete-update {
    display: flex;
    justify-content: space-between;
}

.delete-update button {
    padding: 0.5rem;
    border: none;
    width: 49%;
    cursor: pointer;
}

h3 {
    font-size: large;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .stats-table th,
  .stats-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .stats-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  .tab-buttons button {
    padding: 0.5rem;
    color: #333;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    border-left: 3px solid #333;
    border-bottom: none;
    margin: 4px 4px 0 4px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    background-color: #f4f4f4;
  }

    .tab-buttons button:hover {
        background-color: #333;
        color: #f4f4f4;
    }

  .tab-buttons button.active {
    background-color: #333;
    color: #f4f4f4;
  }
  