/* Basic Footer Styling */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    min-width: 300px;
}

.footer-section {
    flex: 1 1 300px;
    margin: 10px;
}

.footer-section h2, .footer-section h3 {
    color: rgb(255, 119, 0);
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
    color: rgb(245, 245, 245);
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li, .footer-section ul li a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 13px;
}

.socials a img {
    width: 24px;
    margin: 0 8px;
    transition: transform 0.3s ease;
}

.socials a img:hover {
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        display: block;
        text-align: center;
    }
    .footer-section {
        margin: 0;
    }

    .footer-section h2, .footer-section h3, .footer-section p {
        margin: 5px;
    }

    .footer-bottom {
        margin: 0;
    }

    .footer-content {
        padding: 0 20px;
    }

    .about, .links, .contact {
        margin: 50px 0 50px 0;
    }
}
