.product-page {
    width: 100%;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-name {
    text-align: center;
}

h1 {
    font-family: "Bold";
}

/* Snowboard Specific Styles */

.specs-container p {
    font-size: 14px;
    margin: 0;
}

.specs {
    text-transform: uppercase;
}